@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

html,
body {
  background: var(--gray-100);
  font-family: var(--font-family-sans);
}

input:focus,
button:focus,
a:focus {
  outline: var(--outline-black) !important;
  outline-offset: var(--outline-offset-1) !important;
}
